apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rhbk
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/luizfao/keycloak
    targetRevision: main
    path: gitops
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: rhbk-gitops
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
